<%if user_signed_in? and not current_user.user?%>
  <div class="container" id="profiles">
    <header class=" header-active" data-aos="fade-down">  
    <%= image_tag "logo.png" , :align=> "middle", class: "logoHeader",style: 'max-width:350px;height: auto;overflow:hidden'%>
      
    <% if user_signed_in? %>      
      <ul> <%= link_to 'Logout', destroy_user_session_path, :method => :delete, class: "LogLink" %></ul>
      <ul><%= link_to "Vai al Feed", feed_path ,class: 'Loglink' %></ul>
      <ul><%= link_to "Vai al Profilo", current_user ,class: 'Loglink' %></ul>
    <% else %>
      <ul><%= link_to "Registrati", "users/sign_up" ,class: 'Loglink' %></ul>
      <ul><%= link_to "Accedi", "/home" ,class: 'Loglink' %></ul>
    <% end %>
    <ul><%= link_to "User search", "/users" ,class: 'Loglink' %></ul>
  </header>
  
  <br><br><br><br><br>
    <div data-aos="fade-right">
    
      <h1 style='font-size:80px'><b>Articoli Segnalati:</b></h1>
      <br>
      <div class="dropdown">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
          Content Filter
        </button>
        <ul class="dropdown-menu">
          <li><%= link_to "All", current_user, class: 'dropdown-item' %></li>
        
      
          <li><%= link_to "Reported Posts", reported_user_posts_path(params[:user_id]), class: 'dropdown-item' %></li>
          
          <li><%= link_to "Reported Articles", reported_user_articles_path(params[:user_id]), class: 'dropdown-item' %></li>
          
          <li><%= link_to "Reported Playlists", reported_user_playlists_path(params[:user_id]), class: 'dropdown-item' %></li>
        </ul>
      </div>
      <br>
    
    <div class="row" id="reported_articles">
      <% SavedArticle.where(type: "ReportedArticle").each do |reported_article| %>
          <ul class="col-12 col-lg-4 col-sm-6">
            <li class="card" data-aos="flip-down">
              <%= render reported_article %>
            </li>
          </ul>
        <% end %>
      
        
      </div>
    </div>
    
    
    <script>
      AOS.init();
    </script>
  </div>
<%else%>
  <!--%= link_to "New reported article", new_reported_article_path %-->

  <p style="color: green"><%= notice %></p>

  <div class="container" id="reported_articles">
    <nav class="navbar navbar-expand-sm">
      <%= image_tag "logo.png" , :align=> "left", style: 'max-width:350px;height: auto', class: 'navbar-brand' %>
      <div class="container-fluid">
        <ul class="navbar-nav">
          <li class="nav-item"><%= link_to "Home", root_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to "Go to feed", feed_path, class: 'nav-link' %></li>
          <% if user_signed_in? %>
            <li class="nav-item"><%= link_to "Go to profile", current_user, class: 'nav-link' %></li>
          <% end %>
          <li class="nav-item"><%= link_to "User search", "/users" ,class: 'nav-link' %></li>
        </ul>
      </div>
    </nav>

<%if current_user && current_user.id.to_i == params[:user_id].to_i%>
    <div style="text-align:center" data-aos="fade-up">
    <%if current_user.avatar_url == nil %>
    <%= image_tag "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png",class:"propic"%>
    <%else%>
    <br><br><br>
    <%= image_tag current_user.avatar_url,class:"propic"%>
    <%end%>
    <h1 style='font-size:80px'><b>I tuoi Articoli Segnalati</b></h1>
    </div>
    <%else%>
     <div style="text-align:center" data-aos="fade-up">
     <%if User.find(params[:user_id].to_i).avatar_url == nil %>
     <br><br><br>
     <%= image_tag "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png",class:"propic"%>
      <%else%>
    <%= image_tag User.find(params[:user_id].to_i).avatar_url,class:"propic"%>
    <%end%>
    <h1 style='font-size:80px'><b> Articoli Segnalati</b></h1>
    </div>
    <%end%>
    <div data-aos="fade-right">
      
      <br>
      <div class="dropdown">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
          Content Filter
        </button>
        <ul class="dropdown-menu">
          <li><%= link_to "All", current_user, class: 'dropdown-item' %></li>
          <li><%= link_to "My Posts", user_posts_path(params[:user_id]), class: 'dropdown-item' %></li>
          <li><%= link_to "Edited Posts", edited_user_posts_path(params[:user_id]), class: 'dropdown-item' %></li>
          <li><%= link_to "Starred Posts", starred_user_posts_path(params[:user_id]), class: 'dropdown-item' %></li>
          <li><%= link_to "Reported Posts", reported_user_posts_path(params[:user_id]), class: 'dropdown-item' %></li>
          <li><%= link_to "Starred Articles", starred_user_articles_path(params[:user_id]), class: 'dropdown-item' %></li>
          <li><%= link_to "Reported Articles", reported_user_articles_path(params[:user_id]), class: 'dropdown-item' %></li>
          <li><%= link_to "Starred Playlists", starred_user_playlists_path(params[:user_id]), class: 'dropdown-item' %></li>
          <li><%= link_to "Reported Playlists", reported_user_playlists_path(params[:user_id]), class: 'dropdown-item' %></li>
        </ul>
      </div>
      <br>
      <div class="row" id="reported_articles">
      <% SavedArticle.where(user_id: params[:user_id],type: "ReportedArticle").each do |reported_article| %>
          <ul class="col-12 col-lg-4 col-sm-6">
            <li class="card" data-aos="flip-down">
              <%= render reported_article %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
    
    <script>
      AOS.init();
    </script>
  </div>
<%end%>