<p style="color: green"><%= notice %></p>

<%= render @reported_article %>

<div>
  <%= link_to "Edit this reported article", edit_reported_article_path(@reported_article) %> |
  <%= link_to "Back to reported articles", reported_articles_path %>

  <%= button_to "Destroy this reported article", @reported_article, method: :delete %>
</div>
