<div id="<%= dom_id saved_playlist %>">
  <p>
    <strong>Type:</strong>
    <%= saved_playlist.type %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= saved_playlist.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= saved_playlist.description %>
  </p>

  <p>
    <strong>Spotify url:</strong>
    <%= saved_playlist.spotify_url %>
  </p>

  <p>
    <strong>Spotify img:</strong>
    <%= saved_playlist.spotify_img %>
  </p>

</div>
