<div id="<%= dom_id saved_post %>">
  <p>
    <strong>Type:</strong>
    <%= saved_post.type %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= saved_post.author %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= saved_post.title %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= saved_post.summary %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= saved_post.image %>
  </p>

  <p>
    <strong>Video:</strong>
    <%= saved_post.video %>
  </p>

</div>
