<p style="color: green"><%= notice %></p>

<div class="container" id="my_posts">
  <nav class="navbar navbar-expand-sm">
    <%= image_tag "logo.png" , :align=> "left", style: 'max-width:350px;height: auto', class: 'navbar-brand' %>
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item"><%= link_to "Home", root_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to "Go to feed", feed_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to "Go to profile", current_user, class: 'nav-link' %></li>
      </ul>
    </div>
  </nav>


  <div data-aos="fade-right">
    <h1 style='font-size:80px'><b>My Posts</b></h1>
    <br>
    <div class="dropdown">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
        Content Filter
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to "All", current_user, class: 'dropdown-item' %></li>
        <li><%= link_to "My Posts", user_posts_path(params[:user_id]), class: 'dropdown-item' %></li>
        <li><%= link_to "Edited Posts", edited_user_posts_path(params[:user_id]), class: 'dropdown-item' %></li>
        <li><%= link_to "Starred Posts", starred_user_posts_path(params[:user_id]), class: 'dropdown-item' %></li>
        <li><%= link_to "Reported Posts", reported_user_posts_path(params[:user_id]), class: 'dropdown-item' %></li>
        <li><%= link_to "Starred Articles", starred_user_articles_path(params[:user_id]), class: 'dropdown-item' %></li>
        <li><%= link_to "Reported Articles", reported_user_articles_path(params[:user_id]), class: 'dropdown-item' %></li>
        <li><%= link_to "Starred Playlists", starred_user_playlists_path(params[:user_id]), class: 'dropdown-item' %></li>
        <li><%= link_to "Reported Playlists", reported_user_playlists_path(params[:user_id]), class: 'dropdown-item' %></li>
      </ul>
    </div>
    <br>
    <div class="row" id="my_posts">
      <% Post.where(author: params[:user_id]).each do |my_post| %>
        <ul class="col-12 col-lg-4 col-sm-6">
          <li class="card" data-aos="flip-down">
            <%= render my_post %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
  
  <script>
    AOS.init();
  </script>
</div>
