<p style="color: green"><%= notice %></p>

<div class="container" id="my_posts">
  
  <%= render :partial => 'shared/header' %>
  
  <br><br><br>
   <%if current_user && current_user.id.to_i == params[:user_id].to_i%>
    <div style="text-align:center" data-aos="fade-up">
    <%if current_user.avatar_url == nil %>
    <%= image_tag "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png",class:"propic"%>
    <%else%>
    <br><br><br>
    <%= image_tag current_user.avatar_url,class:"propic"%>
    <%end%>
    <h1 style='font-size:80px'><b>I tuoi Posts</b></h1>
    </div>
    <%else%>
     <div style="text-align:center" data-aos="fade-up">
     <%if User.find(params[:user_id].to_i).avatar_url == nil %>
     <br><br><br>
     <%= image_tag "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png",class:"propic"%>
      <%else%>
    <%= image_tag User.find(params[:user_id].to_i).avatar_url,class:"propic"%>
    <%end%>
    <h1 style='font-size:80px'><b>Post di <%=User.find(params[:user_id].to_i).name + " " + User.find(params[:user_id].to_i).surname%></b></h1>
    </div>
    <%end%>
  <div data-aos="fade-right"  style="text-align:center">
    
    <br>
    <div class="dropdown">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
        Filtro Contenuti
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to "Tutto", user_path(@user), class: 'dropdown-item' %></li>
        <li><%= link_to "Miei Post", user_posts_path(params[:user_id]), class: 'dropdown-item' %></li>
        <li><%= link_to "Post Modificati", edited_user_posts_path(params[:user_id]), class: 'dropdown-item' %></li>
        <li><%= link_to "Post Salvati", starred_user_posts_path(params[:user_id]), class: 'dropdown-item' %></li>
        <li><%= link_to "Post Segnalati", reported_user_posts_path(params[:user_id]), class: 'dropdown-item' %></li>
        <li><%= link_to "Articoli Salvati", starred_user_articles_path(params[:user_id]), class: 'dropdown-item' %></li>
        <li><%= link_to "Articoli Segnalati", reported_user_articles_path(params[:user_id]), class: 'dropdown-item' %></li>
        <li><%= link_to "Playlist Salvate", starred_user_playlists_path(params[:user_id]), class: 'dropdown-item' %></li>
        <li><%= link_to "Playlist Segnalate", reported_user_playlists_path(params[:user_id]), class: 'dropdown-item' %></li>
      </ul>
    </div>
    <br>
    <div class="row" id="my_posts">
      <% Post.where(user_id: params[:user_id]).each do |my_post| %>
        <ul class="col-12 col-lg-4 col-sm-6">
          <li class="card" data-aos="flip-down">
            <%= render my_post %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
  
  <script>
    AOS.init();
  </script>
</div>
