<p style="color: green"><%= notice %></p>

<%= render @my_post %>

<div>
  <%= link_to "Edit this my post", edit_my_post_path(@my_post.user_id) %> |
  <%= link_to "Back to my posts", user_posts_path(@my_post.user_id) %>
<%if current_user.id == @my_post.user_id%>
  <%= button_to "Destroy this my post", @my_post, method: :delete , params:{user_id: @my_post.user_id}%>
   <%end%>
</div>
