<%= form_with model: @feed, url: '/feed', method: :get do |form| %>
  <div class="row">
    <div class="col-md">
      <%= form.label :country, style: "display: block" %>
      <%= form.country_select :country, include_blank: 'Select a country', only: (['AE', 'AR', 'AT', 'AU', 'BE', 'BG', 'BR', 'CA', 'CH', 'CN', 'CO', 'CU', 'CZ', 'DE', 'EG', 'FR', 'GB', 'GR', 'HK', 'HU', 'ID', 'IE', 'IL', 'IN', 'IT', 'JP', 'KR', 'LT', 'LV', 'MA', 'MX', 'MY', 'NG', 'NL', 'NO', 'NZ', 'PH', 'PL', 'PT', 'RO', 'RS', 'RU', 'SA', 'SE', 'SG', 'SI', 'SK', 'TH', 'TR', 'TW', 'UA', 'US', 'VE', 'ZA']) %>
    </div>

    <div class="col-md">
      <%= form.label :category, style: "display: block" %>
      <%= form.select :category, [
        ["Select a category", ""],
        ["business", "business"],
        ["entertainment", "entertainment"], 
        ["general", "general"], 
        ["health", "health"], 
        ["science", "science"],
        ["sports", "sports"],
        ["technology", "technology"]
      ] %>
    </div>

    <div class="col-md">
      <%= form.label :place, style: "display: block" %>
      <%= form.text_field :place %>
    </div>
    <br>
  </div>
  <br>
  <div class="row">
    <div class="col-md">
      <%= form.submit "Submit" %>
    </div>
  </div>
<% end %>