
<p style="color: green"><%= notice %></p>

<div class="container" id="feeds">

  <%= render :partial => 'shared/header' %>
  
  <br><br><br><br><br>
  <div data-aos="fade-right" style="text-align:center">
    <h1 style='font-size:100px'><b>Feed</b></h1>
    <br>
    <div class="dropdown">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
        Filtro Contenuti
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to "Tutti i Contenuti", feed_path, class: 'dropdown-item' %></li>
        <li><%= link_to "Articoli", articles_path, class: 'dropdown-item' %></li>
        <li><%= link_to "Playlist", playlists_path, class: 'dropdown-item' %></li>
        <li><%= link_to "Post", posts_path, class: 'dropdown-item' %></li>
        <li><%= link_to "Meteo", forecasts_path, class: 'dropdown-item' %></li>
      </ul>
    </div>
    <br>
    <div>
      <div style="background: #12a112;border-radius: 1rem;padding: 1rem;">
        <%= render "filter", feed: @feed %>
      </div>
      <br>
      <% if user_signed_in? %>
      <%= link_to "Nuovo post", new_post_path, class: 'homebutton',style:"text-align:center" %>
      <%end%>
    </div>
    <br><br>
    <div class="row" id="feeds">
      <% @feeds.each do |feed| %>
        <ul class="col-12 col-lg-4 col-sm-6">
          <li class="card" data-aos="flip-down">
            <div><%= render feed %></div>
          </li>
        </ul>   
      <% end %>
    </div>
  </div>
   
      

   
  <script>
    AOS.init();
  </script>
</div>
