
<p style="color: green"><%= notice %></p>

<div class="container" id="feeds">

  <%= render :partial => 'shared/header' %>
  
  <br><br><br><br><br>
  <div data-aos="fade-right" style="text-align:center">
    <h1 style='font-size:100px'><b>Feed</b></h1>
    <br>
    <div class="dropdown">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
        Filtro Contenuti
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to "Tutti i Contenuti", feed_path, class: 'dropdown-item' %></li>
        <li><%= link_to "Articoli", articles_path, class: 'dropdown-item' %></li>
        <li><%= link_to "Playlist", playlists_path, class: 'dropdown-item' %></li>
        <li><%= link_to "Post", posts_path, class: 'dropdown-item' %></li>
        <li><%= link_to "Meteo", forecasts_path, class: 'dropdown-item' %></li>
      </ul>
    </div>
    <br>
    <div>
      <%= render "filter", feed: @feed %>
      <br>
      <% if user_signed_in? %>
        <%= link_to "Nuovo post", new_post_path, class: 'homebutton',style:"text-align:center" %>
        <button type="button" id="newPostBtn" class="homebutton" data-bs-toggle="modal" data-bs-target="#newPostModal">
          Nuovo Post test
        </button>
      <%end%>
    </div>
    <br><br>
    <div class="row" id="feeds">
      <% @feeds.each do |feed| %>
        <ul class="col-12 col-lg-4 col-sm-6">
          <li class="card" data-aos="flip-down">
            <div><%= render feed %></div>
          </li>
        </ul>   
      <% end %>
    </div>
  </div>
   
  <div class="modal fade" id="newPostModal" tabindex="-1" aria-labelledby="newPostModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="newPostModalLabel">Nuovo Post</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="newPostDiv">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="editPostModal" tabindex="-1" aria-labelledby="editPostModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="editPostModalLabel">Modifica Post</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="editPostDiv">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="newArticleCommentModal" tabindex="-1" aria-labelledby="newArticleCommentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="newArticleCommentModalLabel">Nuovo Commento Articolo</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="newArticleCommentDiv">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="newPlaylistCommentModal" tabindex="-1" aria-labelledby="newPlaylistCommentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="newPlaylistCommentModalLabel">Nuovo Commento Playlist</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="newPlaylistCommentDiv">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="newPostCommentModal" tabindex="-1" aria-labelledby="newPostCommentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="newPostCommentModalLabel">Nuovo Commento Post</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="newPostCommentDiv">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function(){

      $("#newPostBtn").on("click", function(){
        $.get(new_post_path, function(data){
          $("#newPostDiv").replaceWith(data);
        });
      });

      $("#newArticleCommentBtn").on("click", function(){
        $.get(new_article_comment_path(
          user_id: current_user.id,
          article_id: article.id
          ), function(data){
          $("#newArticleCommentDiv").replaceWith(data);
        });
      });

      $("#newPlaylistCommentBtn").on("click", function(){
        $.get(new_playlist_comment_path(
          user_id: current_user.id,
          playlist_id: playlist.id
          ), function(data){
          $("#newPlaylistCommentDiv").replaceWith(data);
        });
      });

      $("#newPostCommentBtn").on("click", function(){
        $.get(new_post_comment_path(
          user_id: current_user.id,
          post_id: post.id
          ), function(data){
          $("#newPostCommentDiv").replaceWith(data);
        });
      });
    });
  </script>

  <script>
    AOS.init();
  </script>
</div>
    
<footer data-aos="fade-down">
  <div class="footer-content" >
    <h3>© 2022 ContentAggregator ®</h3>
    <p>
      Tutti i diritti riservati.<br>Immagini da: Storyset<br>
      <a href="https://github.com/StefanoM99/ContentAggregator">github.com/StefanoM99/ContentAggregator</a>
    </p>
  </div>
</footer>
