<div id="commentDiv">
  <%= form_with(model: article_comment) do |form| %>
    <% if article_comment.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(article_comment.errors.count, "error") %> prohibited this article_comment from being saved:</h2>

        <ul>
          <% article_comment.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
        <h1>Commento</h1>
      <%= form.text_area :description,style: "width: 500px" %>
      <%= form.hidden_field :article_id, value:params[:article_id] %>
    </div>
  <br>
    <div>
      <% hidden_field_tag :article_id, '2' %>
      <%= form.submit :class=>"button" ,style:"background-color:white"%>
    </div>
  <% end %>
</div>