<div id="<%= dom_id starred_article %>">
  <img src="<%= starred_article.media %>" class="img-fluid card-img-top">
  
  <div class="card-body">
    <small>
      <strong>Source:</strong>
      <%= starred_article.source %>
    </small>
    <br>
    <small>
      <strong>Author:</strong>
      <%= starred_article.author %>
    </small>
    <br>
    <h3 class="card-title">
      <strong><%= starred_article.title %></strong>
    </h3>

  
    <h4 class="card-text" style="color:#8A8A8A">
      <%= starred_article.description %>
    </h4>
    <br>
    <h6 class="card-text" style="color:#CACACA">
      <%= starred_article.summary %>
    </h6>
    <br>
    <small>
      <a href="<%= starred_article.link %>"><%= starred_article.link %></a>
    </small>
    <br>
    <small style="color:#CACACA">
      <strong>Publication:</strong>
      <%= starred_article.publication %>
    </small>

    <div class="container mt-3">
      <%if ArticleComment.find_by(article_id: starred_article.article_id)%>
        <p><i>Nessun commento</i></p>
      <%else%>
        <div id="accordion">
          <div class="d-grid">
            <a class="buttonclass" data-bs-toggle="collapse" href="#collapse_<%= starred_article.id %>">
              VISUALIZZA/NASCONDI COMMENTI
            </a>
          </div>
          <div id="collapse_<%= starred_article.id %>" class="collapse" data-bs-parent="#accordion">
            <br>
            <table class="table table-hover table-sm" style="border-collapse: collapse; width: 100%;">
              <thead style="background-color:green; color:white;">
                <tr>
                  <th scope="col" style="border: 1px solid #dddddd;">AUTORE</th>
                  <th scope="col" style="border: 1px solid #dddddd;">COMMENTO</th>
                </tr>
              </thead>
              <tbody>
                <%ArticleComment.where(article_id: starred_article.article_id).each do |comment|%>
                  <tr>
                    <td style="border: 1px solid #dddddd;"><%= comment.author %></td>
                    <td style="border: 1px solid #dddddd;"><%= comment.description %></td> 
                  </tr>
                <%end%>
              </tbody>
            </table>
          </div>
        </div>
      <%end%>
    </div>
  </div>

  <div class="card-footer">
    <%= link_to 'Visualizza', starred_article, { class: 'buttonclass'} %>

    <%if current_user%>
      <%if (current_user.id == params[:user_id].to_i || current_user.id == params[:id].to_i )%>
     
        <%= link_to 'Elimina', starred_article, method: :delete, data: { confirm: 'Sei sicuro?' },class:"buttonclass"%>
      <%else%>
      <%end%>
    <%end%>
  </div>
</div>
