<div id="<%= dom_id starred_article %>">
  <img src="<%= starred_article.media %>" class="img-fluid card-img-top">
  
  <div class="card-body">
    <small>
      <strong>Source:</strong>
      <%= starred_article.source %>
    </small>
    <br>
    <small>
      <strong>Author:</strong>
      <%= starred_article.author %>
    </small>
    <br>
    <h3 class="card-title">
      <strong><%= starred_article.title %></strong>
    </h3>

  
    <h4 class="card-text" style="color:#8A8A8A">
      <%= starred_article.description %>
    </h4>
    <br>
    <h6 class="card-text" style="color:#CACACA">
      <%= starred_article.summary %>
    </h6>
    <br>
    <small>
      <a href="<%= starred_article.link %>"><%= starred_article.link %></a>
    </small>
    <br>
    <small style="color:#CACACA">
      <strong>Publication:</strong>
      <%= starred_article.publication %>
    </small>
  </div>

  <div class="card-footer">
    <%= link_to 'Show', starred_article, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary btn-lg'} %> 
            
    <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
      </div>
    </div>

   <%if (current_user.id == params[:user_id].to_i || current_user.id == params[:id].to_i )%>
     
    <%= link_to 'Delete', starred_article, method: :delete, data: { confirm: 'Are you sure?' }%>
    <%else%>
    <%end%>
  </div>
</div>
