<div id="<%= dom_id article %>">
  <img src="<%= article.media %>" class="img-fluid card-img-top">
  
  <div class="card-body">
    <small>
      <strong>Source:</strong>
      <%= article.source %>
    </small>
    <br>
    <small>
      <strong>Author:</strong>
      <%= article.author %>
    </small>
    <br>
    <h3 class="card-title">
      <strong><%= article.title %></strong>
      
    </h3>

  
    <h4 class="card-text" style="color:#8A8A8A">
      <%= article.description %>
    </h4>
    <br>
    <small>
      <a href="<%= article.link %>"><%= article.link %></a>
    </small>
    <br>
    <small style="color:#CACACA">
      <strong>Publication:</strong>
      <%= article.publication %>
    </small>

    <br><br>

    <div class="container mt-3">
      <div id="accordion">
        <div class="d-grid">
          <a class="buttonclass" data-bs-toggle="collapse" href="#collapse_<%= article.id %>">
            VISUALIZZA/NASCONDI COMMENTI
          </a>
        </div>
        <div id="collapse_<%= article.id %>" class="collapse" data-bs-parent="#accordion">
          <br>
          <table class="table table-hover table-sm" style="border-collapse: collapse; width: 100%;">
            <thead style="background-color:green; color:white;">
              <tr>
                <th scope="col" style="border: 1px solid #dddddd;">AUTORE</th>
                <th scope="col" style="border: 1px solid #dddddd;">COMMENTO</th>
              </tr>
            </thead>
            <tbody>
              <%if current_user && ArticleComment.find_by(article_id: article.id)%>
                <%ArticleComment.where(article_id: article.id).each do |comment|%>
                  <tr>
                    <td style="border: 1px solid #dddddd;"><%= comment.author %></td>
                    <td style="border: 1px solid #dddddd;"><%= comment.description %></td> 
                  </tr>
                <%end%>
              <%end%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <%= link_to 'Visualizza', article, { class: 'buttonclass'} %> 
    
    <%if current_user%>
      <%= link_to 'Commenta', new_article_comment_path(
        user_id: current_user.id,
        article_id: article.id
      ), { class: 'buttonclass'} %>
    <%end%>

    <%if  current_user %>
      <%if  current_user && SavedArticle.where(user_id: current_user.id,type: "StarredArticle",article_id:article.id).empty?%>
      
      <%= button_to 'Salva', starred_articles_path(
        country: article.country, 
        category: article.category,
        source: article.source,
        author: article.author,
        title: article.title,
        description: article.description,
        summary: article.summary,
        link: article.link,
        media: article.media,
        publication: article.publication,
        article_id: article.id,
        user_id: current_user.id
      )  ,{id:"starred",class:"buttonclass"}  %>
      <%else%>
       <button disabled class = "buttonclassdis">Salva</button>
      <%end%>
       <%if current_user  && SavedArticle.where(user_id: current_user.id,type: "ReportedArticle",article_id:article.id).empty?%>
      <%= button_to 'Segnala', reported_articles_path(
        country: article.country, 
        category: article.category,
        source: article.source,
        author: article.author,
        title: article.title,
        description: article.description,
        summary: article.summary,
        link: article.link,
        media: article.media,
        publication: article.publication,
        article_id: article.id,
        user_id: current_user.id
      ) ,{id:"reported",class:"buttonclass"}%>
      <%else%>
       <button disabled class = "buttonclassdis">Segnala</button>
      <%end%>
      
      <div id="articlecomment_<%= article.id%>" class="collapse"></div>
    <%end%> 
  </div>

  <script>
    function articlecomment() {
      <%if current_user%>
      page = document.getElementById("articlecomment_<%= article.id%>" class="collapse");
      page.innerHTML = <%= new_article_comment_path(
        user_id: current_user.id,
        article_id: article.id
      ) %>;
      <%end%>
    }
  </script>

</div>