<div id="<%= dom_id article %>">
  <img src="<%= article.media %>" class="img-fluid card-img-top">
  
  <div class="card-body">
    <small>
      <strong>Source:</strong>
      <%= article.source %>
    </small>
    <br>
    <small>
      <strong>Author:</strong>
      <%= article.author %>
    </small>
    <br>
    <h3 class="card-title">
      <strong><%= article.title %></strong>
      
    </h3>

  
    <h4 class="card-text" style="color:#8A8A8A">
      <%= article.description %>
    </h4>
    <br>
    <h6 class="card-text" style="color:#CACACA">
      <%= article.summary %>
    </h6>
    <br>
    <small>
      <a href="<%= article.link %>"><%= article.link %></a>
    </small>
    <br>
    <small style="color:#CACACA">
      <strong>Publication:</strong>
      <%= article.publication %>
    </small>
  </div>

  <div class="card-footer">
    <%= link_to 'Visualizza', article, { class: 'buttonclass'} %> 
            
    <!--<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
      </div>
    </div>-->

    <%if  current_user %>
      <%if  current_user && SavedArticle.where(user_id: current_user.id,type: "StarredArticle",article_id:article.id).empty?%>
<<<<<<< HEAD
      
      <%= button_to 'Salva', starred_articles_path(
        country: article.country, 
        category: article.category,
        source: article.source,
        author: article.author,
        title: article.title,
        description: article.description,
        summary: article.summary,
        link: article.link,
        media: article.media,
        publication: article.publication,
        article_id: article.id,
        user_id: current_user.id
      )  ,{id:"starred",class:"buttonclass"}  %>
      <%else%>
       <button disabled class = "buttonclassdis">Salva</button>
      <%end%>
       <%if current_user  && SavedArticle.where(user_id: current_user.id,type: "ReportedArticle",article_id:article.id).empty?%>
      <%= button_to 'Segnala', reported_articles_path(
        country: article.country, 
        category: article.category,
        source: article.source,
        author: article.author,
        title: article.title,
        description: article.description,
        summary: article.summary,
        link: article.link,
        media: article.media,
        publication: article.publication,
        article_id: article.id,
        user_id: current_user.id
      ) ,{id:"reported",class:"buttonclass"}%>
      <%else%>
       <button disabled class = "buttonclassdis">Segnala</button>
      <%end%>
      <%end%>
=======
       
        <%= button_to 'Star', starred_articles_path(
          country: article.country, 
        country: article.country, 
          country: article.country, 
          category: article.category,
          source: article.source,
          author: article.author,
          title: article.title,
          description: article.description,
          summary: article.summary,
          link: article.link,
          media: article.media,
          publication: article.publication,
          article_id: article.id,
          user_id: current_user.id
        ), {id: "starred", class: 'btn btn-primary'}  %>
      <% else %>
        Starred
      <% end %>

      <%if current_user  && SavedArticle.where(user_id: current_user.id,type: "ReportedArticle",article_id:article.id).empty?%>
        <%= button_to 'Report', reported_articles_path(
          country: article.country, 
        country: article.country, 
          country: article.country, 
          category: article.category,
          source: article.source,
          author: article.author,
          title: article.title,
          description: article.description,
          summary: article.summary,
          link: article.link,
          media: article.media,
          publication: article.publication,
          article_id: article.id,
          user_id: current_user.id
        ), {id: "reported", class: 'btn btn-primary'}%>
      <% else %>
        Reported
      <% end %>
    <% end %>
>>>>>>> 9833c7c27c38334d86c8a6436ad9cce0af4076e5
  </div>
</div>
