<p style="color: green"><%= notice %></p>

<div class="container" id="articles">
  
  <%= render :partial => 'shared/header' %>
  
  <br><br><br><br><br>
  <div data-aos="fade-right"  style="text-align:center">
    <h1 style='font-size:80px'><b>Articoli</b></h1>
    <br>
    <div class="dropdown">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
        Filtro Contenuti
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to "Tutti i Contenuti", feed_path, class: 'dropdown-item' %></li>
        <li><%= link_to "Articoli", articles_path, class: 'dropdown-item' %></li>
        <li><%= link_to "Playlist", playlists_path, class: 'dropdown-item' %></li>
        <li><%= link_to "Post", posts_path, class: 'dropdown-item' %></li>
        <li><%= link_to "Meteo", forecasts_path, class: 'dropdown-item' %></li>
      </ul>
    </div>
    <br>
    <%= render "filter", article: @article %>
    <br><br>
    <div class="row" id="articles">
      <% @articles.each do |article| %>
        <ul class="col-12 col-lg-4 col-sm-6">
          <li class="card" data-aos="flip-down">
            <%= render article %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="newArticleCommentModal" tabindex="-1" aria-labelledby="newArticleCommentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="newArticleCommentModalLabel">Nuovo Commento Articolo</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="newArticleCommentDiv">

          <%= form_with(model: ArticleComment.new) do |form| %>
            <% if ArticleComment.new.errors.any? %>
              <div style="color: red">
                <h2><%= pluralize(ArticleComment.new.errors.count, "error") %> prohibited this article_comment from being saved:</h2>

                <ul>
                  <% ArticleComment.new.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div>
              <%= form.label :description, style: "display: block" %>
              <%= form.text_area :description %>
              <%= form.hidden_field :article_id, value:params[:article_id] %>
            </div>

            <div>
              <% hidden_field_tag :article_id, '2' %>
              <%= form.submit %>
            </div>
          <% end %>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  
  <script>
    AOS.init();
  </script>
</div>