<p style="color: green"><%= notice %></p>

<div class="container" id="articles">
  <h1>Articles</h1>

  <%= form_with(model: @article) do |form| %>
    <%= form.label :country, style: "display: block" %>
    <%= form.select :country, [
      ["-", ""],
      ["de", "de"],
      ["fr", "fr"], 
      ["gb", "gb"], 
      ["it", "it"], 
      ["us", "us"]
    ] %>

    <%= form.label :category, style: "display: block" %>
    <%= form.select :category, [
      ["-", ""],
      ["business", "business"],
      ["entertainment", "entertainment"], 
      ["general", "general"], 
      ["health", "health"], 
      ["science", "science"],
      ["sports", "sports"],
      ["technology", "technology"]
    ] %>
    <%= form.submit "Submit" %>
  <% end %>


  <%= link_to "New article", new_article_path %>

  <div class="row">
    <% @articles.each do |article| %>
      
      <ul class="col-12 col-lg-4 col-sm-6">
        <li class="card">
          
          <div class="card-body">
            <%= render article %>
          </div>
      
          <div class="card-footer">
            <%= link_to 'Show', article %> |
            <%= link_to 'Edit', edit_article_path(article) %> |
            <%= link_to 'Delete', article, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>

        </li>
      </ul>
    
    <% end %>
  </div>
</div>