<p style="color: green"><%= notice %></p>

<div class="container" id="articles">
  <nav class="navbar" data-aos="fade-down">
    <%= image_tag "logo.png" , :align=> "left", style: 'max-width:350px;height: auto' %>
    <%= link_to "Home", root_path %>
  </nav>

  <div data-aos="fade-right">
    <h1>Articles</h1>

    <%= render "filter", article: @article %>

    <%= link_to "New article", new_article_path %>
  </div>
  <br>
  <div class="row" id="articles">
    <% @articles.each do |article| %>
      <ul class="col-12 col-lg-4 col-sm-6">
        <li class="card" data-aos="flip-down">
          <%= render article %>
        </li>
      </ul>
    <% end %>
  </div>
  <script>
    AOS.init();
  </script>
</div>