<p style="color: green"><%= notice %></p>

<div class="container" id="articles">
  
  <header class=" header-active" data-aos="fade-down">  
    <%= image_tag "logo.png" , :align=> "middle", class: "logoHeader",style: 'max-width:350px;height: auto;overflow:hidden'%>
    
    <% if user_signed_in? %>      
      <ul> <%= link_to 'Logout', destroy_user_session_path, :method => :delete, class: "LogLink" %></ul>
      <ul><%= link_to "Vai al Profilo", current_user ,class: 'Loglink' %></ul>
    <% else %>
      <ul><%= link_to "Registrati", "users/sign_up" ,class: 'Loglink' %></ul>
      <ul><%= link_to "Accedi", "/home" ,class: 'Loglink' %></ul>
    <% end %>
    <ul><%= link_to "User search", "/users" ,class: 'Loglink' %></ul>
  </header>
  
  <br><br><br><br><br>
  <div data-aos="fade-right">
    <h1 style='font-size:80px'><b>Articles</b></h1>
    <br>
    <div class="dropdown">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
        Content Filter
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to "All Contents", feed_path, class: 'dropdown-item' %></li>
        <li><%= link_to "Articles", articles_path, class: 'dropdown-item' %></li>
        <li><%= link_to "Playlists", playlists_path, class: 'dropdown-item' %></li>
        <li><%= link_to "Posts", posts_path, class: 'dropdown-item' %></li>
        <li><%= link_to "Forecast", forecasts_path, class: 'dropdown-item' %></li>
      </ul>
    </div>
    <br>
    <%= render "filter", article: @article %>
    <br><br>
    <div class="row" id="articles">
      <% @articles.each do |article| %>
        <ul class="col-12 col-lg-4 col-sm-6">
          <li class="card" data-aos="flip-down">
            <%= render article %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
  
  <script>
    AOS.init();
  </script>
</div>