<div class="container">
  
  <%= render :partial => 'shared/header' %>
  
  <br><br><br>

  <div style="text-align:center" , data-aos="fade-up">
    <h3 style="font-size:40px">
      <strong><%= @article.title %></strong>
      
    </h3>
    <br><br>
    <% if !@article.media.nil? %>
    <%= image_tag @article.media, class:"articleimg" %>
    <%end%>
    <br><br>
    <h4 class="card-text" >
      <%= @article.description %>
    </h4>
    <br><br><br>
    <h6 class="card-text" >
      <%= @article.summary %>
    </h6>
    <br>
    <small>
      <a href="<%= @article.link %>"><%= @article.link %></a>
    </small>
    <br>
    <small style="color:#CACACA">
      <strong>Publication:</strong>
      <%= @article.publication %>
    </small>

    <br><br>

    <div class="container mt-3">
      <%if ArticleComment.find_by(article_id: @article.id).nil?%>
        <p><i>Nessun commento</i></p>
      <%else%>
        <table class="table table-hover table-sm" style="border-collapse: collapse; width: 100%;">
          <thead style="background-color:green; color:white;">
            <tr>
              <th scope="col" style="border: 1px solid #dddddd;">AUTORE</th>
              <th scope="col" style="border: 1px solid #dddddd;">COMMENTO</th>
            </tr>
          </thead>
          <tbody>
            <%ArticleComment.where(article_id: @article.id).each do |comment|%>
              <tr>
                <td style="border: 1px solid #dddddd;"><%= comment.author %></td>
                <td style="border: 1px solid #dddddd;"><%= comment.description %></td> 
                <td style="border: 1px solid #dddddd; width: 30px"><%= link_to "Modifica", edit_article_comment_path(comment), class: "buttonclass" %></td>
                <td style="border: 1px solid #dddddd; width: 30px"><%= button_to "Elimina", comment, method: :delete, class: "buttonclass" %></td>
              </tr>
            <%end%>
          </tbody>
        </table>
      <%end%>
    </div>

    <br>

    <%if current_user%>
      <%= link_to 'Commenta', new_article_comment_path(
        user_id: current_user.id,
        article_id: @article.id
      ), { class: 'homebutton'} %>
    <%end%>

    <br><br><br>
    <%= link_to "Torna agli articoli", articles_path,class:"homebutton" %>
    <%= link_to "Torna al Feed", feed_path ,class:"homebutton"%>
  </div>
  <br><br>
</div>

<% if @article.media.nil? %>

        <div data-aos="fade-down" class="homefooter">
        <div class="footer-content" >
            <h3>© 2022 ContentAggregator ®</h3>
            <p>Tutti i diritti
            riservati.<br>Immagini da: Storyset<br><a
                href="https://github.com/StefanoM99/ContentAggregator">github.com/StefanoM99/ContentAggregator</a></p>
         
        </div>
<%else%>
  <footer data-aos="fade-down">
  <div class="footer-content" >
    <h3>© 2022 ContentAggregator ®</h3>
    <p>
      Tutti i diritti riservati.<br>
      Immagini da: Storyset<br>
      <a href="https://github.com/StefanoM99/ContentAggregator">github.com/StefanoM99/ContentAggregator</a>
    </p>
          
  </div>
</footer> 
<%end%>
        
<script>
  AOS.init();
</script>
