<div id="<%= dom_id saved_article %>">
  <p>
    <strong>Type:</strong>
    <%= saved_article.type %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= saved_article.country %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= saved_article.category %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= saved_article.source %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= saved_article.author %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= saved_article.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= saved_article.description %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= saved_article.summary %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= saved_article.link %>
  </p>

  <p>
    <strong>Media:</strong>
    <%= saved_article.media %>
  </p>

  <p>
    <strong>Publication:</strong>
    <%= saved_article.publication %>
  </p>

</div>
