<p style="color: green"><%= notice %></p>

<%= render @saved_article %>

<div>
  <%= link_to "Edit this saved article", edit_saved_article_path(@saved_article) %> |
  <%= link_to "Back to saved articles", saved_articles_path %>

  <%= button_to "Destroy this saved article", @saved_article, method: :delete %>
</div>
