<div id="<%= dom_id starred_post %>">
  <% if starred_post.post_file.attached? %>
    <% if starred_post.post_file.content_type.include?("image") %>
      <%= image_tag url_for(starred_post.post_file), class: "img-fluid card-img-top" %>
    <% else %>
      <%= video_tag url_for(starred_post.post_file), controls: true, style: "width: 100%; height: auto;" %>
    <% end %>
  <% end %>

  <div class="card-body">
    <small>
      <strong>Author:</strong>
      <%= starred_post.author %>
    </small>

    <h3 class="card-title">
      <strong><%= starred_post.title %></strong>
    </h3>

    <h6 class="card-text" style="color:#8A8A8A">
      <%= starred_post.summary %>
    </h6>

    <div class="container mt-3">
      <div id="accordion">
        <div class="d-grid">
          <a class="buttonclass" data-bs-toggle="collapse" href="#collapse_<%= starred_post.id %>">
            VISUALIZZA/NASCONDI COMMENTI
          </a>
        </div>
        <div id="collapse_<%= starred_post.id %>" class="collapse" data-bs-parent="#accordion">
          <br>
          <table class="table table-hover table-sm" style="border-collapse: collapse; width: 100%;">
            <thead style="background-color:green; color:white;">
              <tr>
                <th scope="col" style="border: 1px solid #dddddd;">AUTORE</th>
                <th scope="col" style="border: 1px solid #dddddd;">COMMENTO</th>
              </tr>
            </thead>
            <tbody>
              <%if current_user && PostComment.find_by(post_id: starred_post.post_id)%>
                <%PostComment.where(post_id: starred_post.post_id).each do |comment|%>
                  <tr>
                    <td style="border: 1px solid #dddddd;"><%= comment.author %></td>
                    <td style="border: 1px solid #dddddd;"><%= comment.description %></td> 
                  </tr>
                  <%end%>
                <%end%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    

  </div>

  <div class="card-footer">
    <%= link_to 'Visualizza', starred_post, {class: 'buttonclass'} %> 
            
    <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
      </div>
    </div>
     <%if (current_user.id == params[:user_id].to_i || current_user.id == params[:id].to_i )%>
    <%= link_to 'Elimina', starred_post, method: :delete, data: { confirm: 'Are you sure?' } ,class:"buttonclass"%>
    <%else%>
    <%end%>
  </div>
</div>
