<div id="<%= dom_id starred_post %>">
  <% if starred_post.post_file.attached? %>
    <% if starred_post.post_file.content_type.include?("image") %>
      <%= image_tag url_for(starred_post.post_file), class: "img-fluid card-img-top" %>
    <% else %>
      <%= video_tag url_for(starred_post.post_file), controls: true, style: "width: 100%; height: auto;" %>
    <% end %>
  <% end %>

  <div class="card-body">
    <small>
      <strong>Author:</strong>
      <%= starred_post.author %>
    </small>

    <h3 class="card-title">
      <strong><%= starred_post.title %></strong>
    </h3>

    <h6 class="card-text" style="color:#8A8A8A">
      <%= starred_post.summary %>
    </h6>
  </div>

  <div class="card-footer">
    <%= link_to 'Show', starred_post, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary btn-lg'} %> 
            
    <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
      </div>
    </div>
    
    <%= link_to 'Delete', starred_post, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
