<p style="color: green"><%= notice %></p>

<%= render @starred_post %>

<div>
  <%= link_to "Edit this starred post", edit_starred_post_path(@starred_post.user_id) %> |
  <%= link_to "Back to starred posts", user_starred_posts_path(@starred_post.user_id) %>

  <%= button_to "Destroy this starred post", @starred_post, method: :delete,  params:{user_id: @starred_post.user_id}%>
</div>
