<%# app/views/users/_list.html.erb %>
<div id="filterrific_results">

    <div>
        <%= page_entries_info users %>
    </div>

    <div class="overflow-auto">
        <table class="table table-bordered table-striped">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Registered at</th>
                <% if current_user %>
                    <th>Is a follower</th>
                    <th>Followed</th>
                <% end %>
            </tr>
            <% users.each do |user| %>
                <tr>
                    <td><%= link_to(user.full_name, user_path(user)) %></td>
                    <td><%= user.email %></td>
                    <td><%= user.decorated_created_at %></td>
                    <!-- se l'utente è loggato.. -->
                    <% if current_user %>
                        <!-- ..e non possiede follower -->
                        <% if current_user.followers==[] %>
                            <td>No</td>
                        <% else %>
                            <% var = false %>
                            <% current_user.followers.each do |f| %>
                                <% if user.id==f.id %>
                                    <% var = true %>
                                <% end %>
                            <% end %>
                            <% if var %>
                                <td>Yes</td>
                            <% else %>
                                <td>No</td>
                            <% end %>
                        <% end %>
                        <!-- ..e non followa nessuno -->
                        <% if current_user.followees==[] %>
                            <td>No</td>
                        <% else %>
                            <% var = false %>
                            <% current_user.followees.each do |f| %>
                                <% if user.id==f.id %>
                                    <% var = true %>
                                <% end %>
                            <% end %>
                            <% if var %>
                                <td>Yes</td>
                            <% else %>
                                <td>No</td>
                            <% end %>
                        <% end %>
                    <% end %>
                </tr>
            <% end %>
        </table>
    </div>
</div>

<%= will_paginate users %>