<%# app/views/users/_list.html.erb %>
<div id="filterrific_results">

    <!--<div>
        <%= page_entries_info users %>
    </div>-->

    <div class="overflow-auto">
        <table class="table table-bordered table-striped">
            <tr>
                <th>Nome</th>
                <th>Username</th>
                <th>Data di registrazione</th>
                <% if current_user and current_user.user? %>
                    <th>Ti segue</th>
                    <th>Segui</th>
                <% elsif current_user %>
                    <th></th>
                <% end %>
            </tr>
            <% users.each do |user| %>
                <!-- ometti l'admin -->
                <% next if user.id==0 %>
                <tr>
                    <% if not current_user or current_user.user? %>
                        <td><%= link_to(user.full_name, user_path(user)) %></td>
                    <% else %>
                        <td><%= user.full_name %></td>
                    <% end %>
                    <td><%= user.email %></td>
                    <td><%= user.decorated_created_at %></td>
                    <!-- se l'utente è loggato e non è un admin.. -->
                    <% if current_user and current_user.user? %>
                        <!-- Follower -->
                        <% if current_user == user %>
                            <td></td>
                        <% elsif current_user.followers==[] %>
                            <td>No</td>
                        <% else %>
                            <% var = false %>
                            <% current_user.followers.each do |f| %>
                                <% if user.id==f.id %>
                                    <% var = true %>
                                <% end %>
                            <% end %>
                            <% if var %>
                                <td>Sì</td>
                            <% else %>
                                <td>No</td>
                            <% end %>
                        <% end %>
                        <!-- Followees -->
                        <% if current_user == user %>
                            <td></td>
                        <% elsif current_user.followees==[] %>
                            <td>No</td>
                        <% else %>
                            <% var = false %>
                            <% current_user.followees.each do |f| %>
                                <% if user.id==f.id %>
                                    <% var = true %>
                                <% end %>
                            <% end %>
                            <% if var %>
                                <td>Sì</td>
                            <% else %>
                                <td>No</td>
                            <% end %>
                        <% end %>
                    <% elsif current_user %>
                        <td><%= button_to "Elimina account", user, method: :delete, class: "btn btn-sm btn-outline-danger" %></td>
                    <% end %>
                </tr>
            <% end %>
        </table>
    </div>
</div>

<%= will_paginate users %>