<%# app/views/users/index.html.erb %>

<header class="header-active"> 
    <%= image_tag "logo.png", :align=> "middle", class: "logoHeader",style: 'max-width:350px;height: auto;overflow:hidden'%>

    <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Menu
    </button>
    <ul class="dropdown-menu">
        <li><%= link_to "Feed", feed_path ,class: 'dropdown-item' %></li>
        <li><hr class="dropdown-divider"></li>
        <% if user_signed_in? %>
            <li><%= link_to "Profilo", current_user ,class: 'dropdown-item' %></li>
            <li><%= link_to 'Esci', destroy_user_session_path, :method => :delete, class: "dropdown-item" %></li>
        <% else %>
            <li><%= link_to "Registrati", "users/sign_up" ,class: 'dropdown-item' %></li>
            <li><%= link_to "Accedi", "/home" ,class: 'dropdown-item' %></li>
        <% end %>
    </ul>
</header>

<br><br>

<div class="p-4">

    <h1 class="text-center fw-bold" style="font-size:100px">Utenti</h1>

    <%#
        Filterrific adds the `form_for_filterrific` view helper:
        * adds dom id 'filterrific_filter'
        * applies javascript behaviors:
            * AJAX form submission on change
            * AJAX spinner while AJAX request is being processed
        * sets form_for options like :url, :method and input name prefix
    %>
    <%= form_for_filterrific @filterrific, html: { id: 'filterrific-no-ajax-auto-submit' } do |f| %>
        
        <div class="d-flex flex-row align-items-center flex-wrap justify-content-start">

            <div class="d-flex flex-row align-items-center">
                <div class="p-2">
                    Cerca:
                </div>
                <div class="p-2">
                    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
                    <%= f.text_field(
                    :search_query,
                    class: 'filterrific-periodically-observed form-text border border-success border-2 rounded text-center'
                    ) %>
                </div>
            </div>

            <div class="d-flex flex-row align-items-center">
                <div class="p-2">
                    Registrato dopo:
                </div>
                <div class="p-2">
                    <%= f.text_field(:with_created_at_gte, class: 'js-datepicker form-text border border-success border-2 rounded text-center', placeholder: "yyyy-mm-dd") %>
                </div>
            </div>

            <div class="d-flex flex-row align-items-center">
                <div class="p-2">
                    Ordina per:
                </div>
                <div class="p-2">
                    <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
                </div>
            </div>

            <div class="d-flex flex-row align-items-center">
                <div class="px-4 py-2">
                    <%= f.submit 'Filtra', class: 'homebutton',style:"text-align:center" %>
                </div>
            </div>

        </div>

        <div class="p-2">
            <%= link_to(
            'Azzera filtri',
            reset_filterrific_url,
            ) %>
        </div>

    <% end %>

    <%= render(
        partial: 'users/list',
        locals: { users: @users }
    ) %>
</div>
