<%if current_user.user?%>
<div class="container" id="profiles">
  <header class=" header-active" data-aos="fade-down">
    
     <div style="text-align:center"> <%= image_tag "logo.png" , :align=> "middle", class: "logoHeader",style: 'max-width:350px;height: auto;overflow:hidden'%></div>
      <ul><%= link_to "Vai al Feed", feed_path ,class: 'Loglink' %></ul>
      <ul> <%= link_to 'Logout',
destroy_user_session_path, :method => :delete, class: "LogLink" %></ul>
      </header>
  <br><br><br>
  <div data-aos="fade-right">
  
    <h1 style='font-size:80px'><b>Profile</b></h1>
    <p style="color: green"><%= notice %></p>
    <p style="color: red"><%= alert %></p>
    <br>
    <div class="dropdown">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
        Content Filter
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to "All", current_user, class: 'dropdown-item' ,params:{user_id: 118}%></li>
        <li><%= link_to "My Posts", user_posts_path(@user), class: 'dropdown-item' %></li>
        <li><%= link_to "Edited Posts", edited_user_posts_path(@user), class: 'dropdown-item' %></li>
        <li><%= link_to "Starred Posts", starred_user_posts_path(@user), class: 'dropdown-item' %></li>
        <li><%= link_to "Reported Posts", reported_user_posts_path(@user), class: 'dropdown-item' %></li>
        <li><%= link_to "Starred Articles", starred_user_articles_path(@user), class: 'dropdown-item' %></li>
        <li><%= link_to "Reported Articles", reported_user_articles_path(@user), class: 'dropdown-item' %></li>
        <li><%= link_to "Starred Playlists", starred_user_playlists_path(@user), class: 'dropdown-item' %></li>
        <li><%= link_to "Reported Playlists", reported_user_playlists_path(@user), class: 'dropdown-item' %></li>
      </ul>
    </div>
    <br>
  
 <div class="row" id="reported_articles">
 <% if SavedArticle.where(user_id: params[:id],type: "ReportedArticle").exists?%>
 <h1 style='font-size:40px'> Articoli Segnalati:</h1> <br>
<%end%>
     <% SavedArticle.where(user_id: params[:id],type: "ReportedArticle").each do |reported_article| %>
        <ul class="col-12 col-lg-4 col-sm-6">
          <li class="card" data-aos="flip-down">
            <%= render reported_article %>
          </li>
        </ul>
      <% end %>
      <br>
          <% if SavedPlaylist.where(user_id: params[:id],type: "ReportedPlaylist").exists?%>
 <h1 style='font-size:40px'> Playlist Segnalate:</h1> <br>
<%end%>
      <% SavedPlaylist.where(user_id: params[:id],type: "ReportedPlaylist").each do |reported_playlist| %>
        <ul class="col-12 col-lg-4 col-sm-6">
          <li class="card" data-aos="flip-down">
            <%= render reported_playlist %>
          </li>
        </ul>
      <% end %>
          <% if SavedPost.where(user_id: params[:id],type: "ReportedPost").exists?%>
 <h1 style='font-size:40px'> Post Segnalati:</h1> <br>
<%end%>
      <% SavedPost.where(user_id: params[:id],type: "ReportedPost").each do |reported_post| %>
        <ul class="col-12 col-lg-4 col-sm-6">
          <li class="card" data-aos="flip-down">
            <%= render reported_post %>
          </li>
        </ul>
      <% end %>
          <% if SavedArticle.where(user_id: params[:id],type: "StarredArticle").exists?%>
 <h1 style='font-size:40px'> Articoli Salvati:</h1> <br>
<%end%>
       <% SavedArticle.where(user_id: params[:id],type: "StarredArticle").each do |starred_article| %>
        <ul class="col-12 col-lg-4 col-sm-6">
          <li class="card" data-aos="flip-down">
            <%= render starred_article %>
          </li>
        </ul>
      <% end %>
          <% if SavedPlaylist.where(user_id: params[:id],type: "StarredPlaylist").exists?%>
 <h1 style='font-size:40px'> Playlists Salvate:</h1> <br>
<%end%>
       <% SavedPlaylist.where(user_id: params[:id],type: "StarredPlaylist").each do |starred_playlist| %>
        <ul class="col-12 col-lg-4 col-sm-6">
          <li class="card" data-aos="flip-down">
            <%= render starred_playlist %>
          </li>
        </ul>
      <% end %>
          <% if SavedPost.where(user_id: params[:id],type: "StarredPost").exists?%>
 <h1 style='font-size:40px'> Post Salvati:</h1> <br>
<%end%>
       <% SavedPost.where(user_id: params[:id],type: "StarredPost").each do |starred_post| %>
        <ul class="col-12 col-lg-4 col-sm-6">
          <li class="card" data-aos="flip-down">
            <%= render starred_post %>
          </li>
        </ul>
      <% end %>
       <% if SavedPost.where(user_id: params[:id],type: "EditedPost").exists?%>
 <h1 style='font-size:40px'> Post Editati:</h1> <br>
<%end%>
       <% SavedPost.where(user_id: params[:id],type: "EditedPost").each do |edited_post| %>
        <ul class="col-12 col-lg-4 col-sm-6">
          <li class="card" data-aos="flip-down">
            <%= render edited_post %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
  
  <script>
    AOS.init();
  </script>
</div>
<%else%>
<div class="container" id="profiles">
  <nav class="navbar navbar-expand-sm">
    <%= image_tag "logo.png" , :align=> "left", style: 'max-width:350px;height: auto', class: 'navbar-brand' %>
    <div class="container-fluid">
      <ul class="navbar-nav">
       
      </ul>
    </div>
  </nav>
  <br>
  <div data-aos="fade-right">
  
    <h1 style='font-size:80px'><b>Elementi Segnalati:</b></h1>
    <br>
    <div class="dropdown">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
        Content Filter
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to "All", current_user, class: 'dropdown-item' %></li>
       
    
        <li><%= link_to "Reported Posts", reported_user_posts_path(@user), class: 'dropdown-item' %></li>
        
        <li><%= link_to "Reported Articles", reported_user_articles_path(@user), class: 'dropdown-item' %></li>
        
        <li><%= link_to "Reported Playlists", reported_user_playlists_path(@user), class: 'dropdown-item' %></li>
      </ul>
    </div>
    <br>
  
   <div class="row" id="reported_articles">
   <%@index = (SavedArticle.where(type: "ReportedArticle").distinct.pluck(:article_id))%>
    <%puts(@index)%>
     <% SavedArticle.where(type: "ReportedArticle",article_id:@index).each do |reported_article| %>
     <%if @index.include? reported_article.article_id%>
        <ul class="col-12 col-lg-4 col-sm-6">
          <li class="card" data-aos="flip-down">
            <%= render reported_article %>
          </li>
        </ul>
      <%end%>
      <%@index.delete(reported_article.article_id)%>  
      <% end %>
      <%@index = (SavedPlaylist.where(type: "ReportedPlaylist").distinct.pluck(:playlist_id))%>
      <% SavedPlaylist.where(type: "ReportedPlaylist",playlist_id:@index).each do |reported_playlist| %>
      <%if @index.include? reported_playlist.playlist_id%>
        <ul class="col-12 col-lg-4 col-sm-6">
          <li class="card" data-aos="flip-down">
            <%= render reported_playlist %>
          </li>
        </ul>
        <%end%>
        <%@index.delete(reported_playlist.playlist_id)%>  
      <% end %>
      <%@index = (SavedPost.where(type: "ReportedPost").distinct.pluck(:post_id))%>
      <% SavedPost.where(type: "ReportedPost",post_id:@index).each do |reported_post| %>
      <%if @index.include? reported_post.post_id%>
        <ul class="col-12 col-lg-4 col-sm-6">
          <li class="card" data-aos="flip-down">
            <%= render reported_post %>
          </li>
        </ul>
        <%end%>
        <%@index.delete(reported_post.post_id)%>  
      <% end %>
    </div>
  </div>
   
   
  <script>
    AOS.init();
  </script>
</div>
<%end%>