<header class="header-active"> 

    <%= image_tag "logo.png", :align=> "middle", class: "logoHeader" %>

    <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Menu
    </button>
    <ul class="dropdown-menu">

        <!-- Se non si è già nel feed e non si è admin... -->
        <% if not current_page?(feed_path) and (not user_signed_in? or current_user.user?) %>
            <li><%= link_to "Feed", feed_path ,class: 'dropdown-item' %></li>
        <% end %>

        <!-- Se non si è già nella ricerca utenti... -->
        <% if not current_page?("/users") %>
            <li><%= link_to "Ricerca Utenti", users_path ,class: 'dropdown-item' %></li>
        <% end %>

        <!-- Se si è loggati... -->
        <% if user_signed_in? %>
            <!-- ...e non si è già nella pagina di profilo... -->
            <% if not current_page?(current_user) %>
                <li><%= link_to "Profilo", current_user ,class: 'dropdown-item' %></li>
            <% end %>
            <li><hr class="dropdown-divider"></li><!-- divisore -->
            <li><%= link_to 'Esci', destroy_user_session_path, :method => :delete, class: "dropdown-item" %></li>
        <!-- Se invece non si è loggati -->
        <% else %>
            <li><hr class="dropdown-divider"></li><!-- divisore -->
            <li><%= link_to "Registrati", "/users/sign_up" ,class: 'dropdown-item' %></li>
            <li><%= link_to "Accedi", root_path ,class: 'dropdown-item' %></li>
        <% end %>

    </ul>

</header>