<!DOCTYPE html>
<html>
 
    <head>
    <title>ContentAggregator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "main" %>
    <%= stylesheet_link_tag "application.js", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/../javascript/application.js", "data-turbo-track": "reload", defer: true %>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </head>

  <body>
    <!-- > Inizio sezione header -->
    <header class=" header-active" data-aos="fade-down">
    
      <%= image_tag "logo.png" , :align=> "middle", class: "logoHeader",style: 'max-width:350px;height: auto;overflow:hidden'%>
      
      <% if user_signed_in? %>
        <ul> <%= link_to 'Logout', destroy_user_session_path, :method => :delete, class: "LogLink" %></ul>
      <% end %>
  
    </header>

    <!-- > Inizio sezione centrale -->
    <div class="container">    
      <div class="row vh-100 align-items-center " >
        <div class="col-sm" style="text-align:center;margin-bottom:110px" data-aos="fade-right">
          <%= image_tag "index.svg", height: 600,style: 'max-width:700px' %>
          <h1 >Benvenuto su ContentAggregator!</h1>
          <br>
          <p style="font-size:20px">ContentAggregator è un'applicazione dove puoi trovare tutti i contenuti di tuo gradimento!<p>
        </div>
        
        <div class="col" style="text-align:center"  data-aos="fade-left">
          <%= form_for(:user,  url: session_path(:user)) do |form| %>
           <%= form.text_field :email ,class:"form",placeholder:"Username"%>
            <br>
            <%= form.password_field :password ,class:"form",placeholder:"Password"%>
            <br>
            <%= form.submit :class=> "button", :value=>"Accedi"%>
            
            <% end %>
          
          <br>
          <p><a href="/users/sign_up">Non hai ancora creato un account? Registrati ora!</a>
          <br>
          <br>
          <%- if devise_mapping.omniauthable? %>
            
              <%= form_for "Login",
                url: user_google_oauth2_omniauth_authorize_path,
                method: :post do |f|%>
                  <%= f.submit "Accedi con google", type: "image", src: url_for("assets/btn_google_signin_dark_normal_web.png")%>
                <% end %>
            
          
          
          <br>
          
              <%= form_for "Login",
                url: user_twitter_omniauth_authorize_path,
                method: :post do |f|%>
                  <%= f.submit "Accedi con Twitter", type: "image", src: url_for("assets/sign-in-with-twitter-gray.png.twimg.2560.png")%>
                  <% end %>
          <% end %>
          <br>
          <a href="/feed" class="homebutton">Salta la registrazione</a>
        </div>
 
      </div>
    </div>

             <!-- > Inizio sezione footer -->

 

    </div>
    <script>
      AOS.init();
    </script>
  </body>
</html>
