
<!DOCTYPE html>
<html>
  <head>
    <title>ContentAggregator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "main" %>
    <%= stylesheet_link_tag "application.js", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/assets/application.js", "data-turbo-track": "reload", defer: true %>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
 <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </head>

  <body>
  <!-- > Inizio sezione header -->
     <header class=" header-active" data-aos="fade-down">

  
    
        
          
          <%= image_tag "logo.png" , :align=> "middle", class: "logoHeader",style: 'max-width:350px;height: auto'%>
          
      
      
      
  
        

    </header>

  <!-- > Inizio sezione centrale -->
    <div class="container">
    
     
      <div class="row vh-100 align-items-center ">
        <div class="col-sm" style="text-align:center" data-aos="fade-right">
           <%= image_tag "index.svg", height: 500,style: 'max-width:500px' %>
          <h1>Benvenuto su ContentAggregator!</h1>
          <br>
          <p>ContentAggregator è un'applicazione dove puoi trovare tutti i contenuti di tuo gradimento!<p>
        </div>
        <div class="col" style="text-align:center"  data-aos="fade-left">
          <form >
            <input type="text" placeholder="Nome Utente" class="form">
            <br>
            <input type="password" placeholder="Password" class="form">
            <br>
            <input type="submit" value="Accedi" class="button">
          </form>
          <br>
          <p><a href="/users/sign_up">Non hai ancora creato un account? Registrati ora!</a>
          <br>
          <br>
          <button class="buttonGoogle">Accedi con Google</button>
          <br>
          <button class="buttonFacebook">Accedi con Twitter</button>
        </div>
      </div>
    </div>
       <script>
  AOS.init();
</script>
  </body>
</html>



