<div id="<%= dom_id reported_post %>">
  <% if reported_post.post_file.attached? %>
    <% if reported_post.post_file.content_type.include?("image") %>
      <%= image_tag url_for(reported_post.post_file), class: "img-fluid card-img-top" %>
    <% end %>
  <% end %>

  <div class="card-body">
    <small>
      <strong>Author:</strong>
      <%= reported_post.author %>
    </small>

    <h3 class="card-title">
      <strong><%= reported_post.title %></strong>
    </h3>

    <h6 class="card-text" style="color:#8A8A8A">
      <%= reported_post.summary %>
    </h6>

    <div class="container mt-3">
      <%if PostComment.find_by(post_id: reported_post.post_id)%>
        <p><i>Nessun commento</i></p>
      <%else%>
        <div id="accordion">
          <div class="d-grid">
            <a class="buttonclass" data-bs-toggle="collapse" href="#collapse_<%= reported_post.id %>">
              VISUALIZZA/NASCONDI COMMENTI
            </a>
          </div>
          <div id="collapse_<%= reported_post.id %>" class="collapse" data-bs-parent="#accordion">
            <br>
            <table class="table table-hover table-sm" style="border-collapse: collapse; width: 100%;">
              <thead style="background-color:green; color:white;">
                <tr>
                  <th scope="col" style="border: 1px solid #dddddd;">AUTORE</th>
                  <th scope="col" style="border: 1px solid #dddddd;">COMMENTO</th>
                </tr>
              </thead>
              <tbody>
                <%PostComment.where(post_id: reported_post.post_id).each do |comment|%>
                  <tr>
                    <td style="border: 1px solid #dddddd;"><%= comment.author %></td>
                    <td style="border: 1px solid #dddddd;"><%= comment.description %></td> 
                  </tr>
                <%end%>
              </tbody>
            </table>
          </div>
        </div>
      <%end%>
    </div>
  </div>

  <div class="card-footer">
    <%= link_to 'Visualizza', reported_post, { class: 'buttonclass'} %> 
    
    <%if current_user%>
      <%if (current_user.id == params[:user_id].to_i || current_user.id == params[:id].to_i )%>
        <%= button_to 'Elimina', reported_post, method: :delete, class:"buttonclass" %>
      <%else%>
      <%end%>
    <%end%>
  </div>
</div>
