<div class = "container">

  <%= render :partial => 'shared/header' %>

  <div style="text-align:center" data-aos="fade-up">
   
    <br><br><br><br>
  <% if @reported_post.post_file.attached? %>
    <% if @reported_post.post_file.content_type.include?("image") %>
      <%= image_tag url_for(@reported_post.post_file), class: "articleimg" %>
    <% else %>
      <%= video_tag url_for(@reported_post.post_file), controls: true, style: "width: 100%; height: auto;" %>
    <% end %>
  <% end %>
    <br><br>
        <h3 style="font-size:40px">
      <strong><%= @reported_post.title %></strong>
      
    </h3>
    <h4 class="card-text" >
      <%= @reported_post.summary %>
    </h4>
    <br>
    <br>
 
      <h4 class="card-text" >
      <strong>Autore:</strong>
      <%= @reported_post.author %>
    </h4>
  <br><br>
  
  <%= link_to "Torna ai post", posts_path,class:"homebutton" %>
   <br><br>
<%if current_user &&  current_user.id == @reported_post.user_id%>
  <%= button_to "Elimina questo post", @reported_post, method: :delete,class:"homebutton" %>
  <br>
   <%= link_to "Modifica questo post", edit_post_path(@reported_post),class:"homebutton" %> 
  <%end%>
 
  <br><br><br>
</div>

<div class="container mt-3" data-aos="fade-up">
      <table class="table table-hover table-sm" style="border-collapse: collapse; width: 100%;">
        <thead style="background-color:green; color:white;">
          <tr>
            <th scope="col" style="border: 1px solid #dddddd;">AUTORE</th>
            <th scope="col" style="border: 1px solid #dddddd;">COMMENTO</th>
          </tr>
        </thead>
        <tbody>
          <%if current_user && PostComment.find_by(post_id: @reported_post.id)%>
            <%PostComment.where(post_id: @reported_post.id).each do |comment|%>
              <tr>
                <td style="border: 1px solid #dddddd;"><%= comment.author %></td>
                <td style="border: 1px solid #dddddd;"><%= comment.description %></td> 
              </tr>
            <%end%>
          <%end%>
        </tbody>
      </table>
    </div>
</div>
<% if !@reported_post.post_file.attached? %>

        <div data-aos="fade-down" class="homefooter">
        <div class="footer-content" >
            <h3>© 2022 ContentAggregator ®</h3>
            <p>Tutti i diritti
            riservati.<br>Immagini da: Storyset<br><a
                href="https://github.com/StefanoM99/ContentAggregator">github.com/StefanoM99/ContentAggregator</a></p>
         
        </div>
<%else%>
  <footer data-aos="fade-down">
  <div class="footer-content" >
    <h3>© 2022 ContentAggregator ®</h3>
    <p>
      Tutti i diritti riservati.<br>
      Immagini da: Storyset<br>
      <a href="https://github.com/StefanoM99/ContentAggregator">github.com/StefanoM99/ContentAggregator</a>
    </p>
          
  </div>
</footer> 
<%end%>
<script>
  AOS.init();
</script>
