<%= form_with(model: playlist_comment) do |form| %>
  <% if playlist_comment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(playlist_comment.errors.count, "error") %> prohibited this playlist_comment from being saved:</h2>

      <ul>
        <% playlist_comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label 'Commento', style: "display: block" %>
    <%= form.text_area :description %>
    <%= form.hidden_field :playlist_id, value:params[:playlist_id] %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
