<div id="<%= dom_id reported_playlist %>">
</div>

<div id="<%= dom_id reported_playlist %>">
</div>

<div id="<%= dom_id reported_playlist %>">
  <img src="<%= reported_playlist.spotify_img %>" class="img-fluid card-img-top">
  
  <div class="card-body">
    <h3 class="card-title">
      <strong><%= reported_playlist.name %></strong>
    </h3>
    <br>
    <h4 class="card-text" style="color:#8A8A8A">
      <%= reported_playlist.description %>
    </h4>
    <br>
    <small>
      <a href="<%= reported_playlist.spotify_url %>"><%= reported_playlist.spotify_url %></a>
    </small>
    <br>
    <small>
      <%= reported_playlist.tracks %>
    </small>

    <div class="container mt-3">
      <%if PlaylistComment.find_by(playlist_id: reported_playlist.playlist_id)%>
        <p><i>Nessun commento</i></p>
      <%else%>
        <div id="accordion">
          <div class="d-grid">
            <a class="buttonclass" data-bs-toggle="collapse" href="#collapse_<%= reported_playlist.id %>">
              VISUALIZZA/NASCONDI COMMENTI
            </a>
          </div>
          <div id="collapse_<%= reported_playlist.id %>" class="collapse" data-bs-parent="#accordion">
            <br>
            <table class="table table-hover table-sm" style="border-collapse: collapse; width: 100%;">
              <thead style="background-color:green; color:white;">
                <tr>
                  <th scope="col" style="border: 1px solid #dddddd;">AUTORE</th>
                  <th scope="col" style="border: 1px solid #dddddd;">COMMENTO</th>
                </tr>
              </thead>
              <tbody>
                <%PlaylistComment.where(playlist_id: reported_playlist.playlist_id).each do |comment|%>
                  <tr>
                    <td style="border: 1px solid #dddddd;"><%= comment.author %></td>
                    <td style="border: 1px solid #dddddd;"><%= comment.description %></td> 
                  </tr>
                <%end%>
              </tbody>
            </table>
          </div>
        </div>
      <%end%>
    </div>    
  </div>

  <div class="card-footer">
    <%= link_to 'Visualizza', reported_playlist, { class: 'buttonclass'} %>

    <%if current_user%>
      <%if (current_user.id == params[:user_id].to_i || current_user.id == params[:id].to_i )%>
        <%= link_to 'Elimina', reported_playlist, method: :delete, data: { confirm: 'Sei sicuro?' },class:"buttonclass" %>
      <%else%>
      <%end%>
    <%end%>
  </div>
</div>
