<p style="color: green"><%= notice %></p>

<%= render @reported_playlist %>

<div>
  <%= link_to "Edit this reported playlist", edit_reported_playlist_path(@reported_playlist.user_id) %> |
  <%= link_to "Back to reported playlists", reported_user_playlists_path(@reported_playlist.user_id) %>

  <%= button_to "Destroy this reported playlist", @reported_playlist, method: :delete , params:{user_id: @reported_playlist.user_id}%>
</div>
