<div id="<%= dom_id forecast %>">
  <p>
    <strong>Place:</strong>
    <%= forecast.place %>
  </p>

  <p>
    <strong>Lat:</strong>
    <%= forecast.lat %>
  </p>

  <p>
    <strong>Lon:</strong>
    <%= forecast.lon %>
  </p>

  <p>
    <strong>Weather:</strong>
    <%= forecast.weather %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= forecast.description %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= forecast.icon %>
  </p>

  <p>
    <strong>Temp:</strong>
    <%= forecast.temp %>
  </p>

  <p>
    <strong>Temp min:</strong>
    <%= forecast.temp_min %>
  </p>

  <p>
    <strong>Temp max:</strong>
    <%= forecast.temp_max %>
  </p>

  <p>
    <strong>Pressure:</strong>
    <%= forecast.pressure %>
  </p>

  <p>
    <strong>Humidity:</strong>
    <%= forecast.humidity %>
  </p>

  <p>
    <strong>Sea level:</strong>
    <%= forecast.sea_level %>
  </p>

  <p>
    <strong>Grnd level:</strong>
    <%= forecast.grnd_level %>
  </p>

</div>
