<div id="<%= dom_id forecast %>">
  
  <div class="card-body">
    <h1>
      <img src="<%= forecast.icon %>" class="img-fluid">
      <strong><%= forecast.temp %> °C</strong>
    </h1>
    <br>
    <h1 class="card-title">
      <strong><%= forecast.place %></strong>
    </h1>
    <small style="color:#8A8A8A">
      <strong>Lat:</strong>
      <%= forecast.lat %>
      <strong>Lon:</strong>
      <%= forecast.lon %>
    </small>
    <br>
    <h3 class="card-title">
      <strong><%= forecast.weather %></strong>
    </h3>
    <small class="card-text" style="color:#8A8A8A">
      <strong>Description:</strong>
      <%= forecast.description %>
    </small>
    <br>
    <h5 class="card-text" style="color:#0099FF">
      <strong>Min:</strong>
      <%= forecast.temp_min %> °C
    </h5>
    <h5 class="card-text" style="color:#FF3300">
      <strong>Max:</strong>
      <%= forecast.temp_max %> °C
    </h5>
    <small style="color:#CACACA">
      <strong>Pressure:</strong>
      <%= forecast.pressure %> hPa
    </small>
    <br>
    <small style="color:#CACACA">
      <strong>Humidity:</strong>
      <%= forecast.humidity %> %
    </small>
  </div>

  <!--<div class="card-footer">
    <%= link_to "Show this forecast", forecast %>
    <%= link_to 'Delete', forecast, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>-->
</div>
