<p style="color: green"><%= notice %></p>

<div class="container" id="forecasts">
  <nav class="navbar" data-aos="fade-down">
    <%= image_tag "logo.png" , :align=> "left", style: 'max-width:350px;height: auto' %>
    <%= link_to "Home", root_path %>
  </nav>

  <div data-aos="fade-right">
    <h1>Forecasts</h1>

    <%= render "filter", forecast: @forecast %>
  </div>
  <br>
  <div class="row" id="forecasts">
    <% @forecasts.each do |forecast| %>
      <ul class="col-12 col-lg-4 col-sm-6">
        <li class="card" data-aos="flip-down">
          <%= render forecast %>
        </li>
      </ul>
    <% end %>
  </div>
  <script>
    AOS.init();
  </script>
</div>
