<p style="color: green"><%= notice %></p>

<%= render @forecast %>

<div>
  <%= link_to "Edit this forecast", edit_forecast_path(@forecast) %> |
  <%= link_to "Back to forecasts", forecasts_path %>

  <%= button_to "Destroy this forecast", @forecast, method: :delete %>
</div>
