<%= form_with(model: post, multipart: true) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label 'Titolo', style: "display: block" %>
    <%= form.text_area :title %>
  </div>

  <div>
    <%= form.label "Sommario", style: "display: block" %>
    <%= form.text_area :summary %>
  </div>

  <div>
    <%= form.label 'Inserisci foto (jpeg o png)', style: "display: block" %>
    <%= form.file_field :post_file, accept: 'image/jpeg,image/png' %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
