<div id="<%= dom_id post %>">
  <% if post.post_file.attached? %>
    <% if post.post_file.content_type.include?("image") %>
      <%= image_tag url_for(post.post_file), class: "img-fluid card-img-top" %>
    <% else %>
      <%= video_tag url_for(post.post_file), controls: true, style: "width: 100%; height: auto;" %>
    <% end %>
  <% end %>

  <div class="card-body">
    <small>
      <strong>Author:</strong>
      <%= post.author %>
    </small>

    <h3 class="card-title">
      <strong><%= post.title %></strong>
    </h3>

    <h6 class="card-text" style="color:#8A8A8A">
      <%= post.summary %>
    </h6>
  </div>

  <div class="card-footer">
    <%= link_to "Show this post", post %> |
    <!--<%= link_to 'Edit', edit_post_path(post), {class: "btn btn-primary", 'data-bs-toggle'=>"modal", 'data-bs-target'=>"#editPostModal"} %> |-->
    
    <% if current_user && (current_user.id == params[:user_id].to_i || current_user.id == params[:id].to_i ) %>
      <%= link_to 'Edit', edit_post_path(post) %> |<%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% else %>
    <% end %>

    <% if current_user %>
    <% if SavedPost.where(user_id: current_user.id, type: "StarredPost", post_id: post.id).empty? %>
      <%= button_to 'Star', starred_posts_path(
        author: post.author,
        title: post.title,
        summary: post.summary,
        post_file: post.post_file.key,
        post_id: post.id
      ),{id:"starred"} %>
    <% else %>
      Salvato
    <% end %>

    <% if current_user && SavedPost.where(user_id: current_user.id, type: "ReportedPost", post_id: post.id).empty? %>
      <%= button_to 'Report', reported_posts_path(
        author: post.author,
        title: post.title,
        summary: post.summary,
        post_file: post.post_file.key,
        post_id: post.id
      ),{id:"reported"} %>
    <% else %>
      Segnalato
    <%end%>
  <%end%>
  </div>
</div>

<!--<div class="container mt-3">
  <h3>Fading Modal Example</h3>
  <p>Click on the button to open the modal.</p>
  
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Open modal
  </button>
</div>-->