<div id="<%= dom_id post %>">
  <% if post.post_file.attached? %>
    <% if post.post_file.content_type.include?("image") %>
      <%= image_tag url_for(post.post_file), class: "img-fluid card-img-top" %>
    <% else %>
      <%= video_tag url_for(post.post_file), controls: true, style: "width: 100%; height: auto;" %>
    <% end %>
  <% end %>

  <div class="card-body">
    <small>
      <strong>Author:</strong>
      <%= post.author %>
    </small>

    <h3 class="card-title">
      <strong><%= post.title %></strong>
    </h3>

    <h6 class="card-text" style="color:#8A8A8A">
      <%= post.summary %>
    </h6>

    <br><br>

    <div class="container mt-3">
      <%if PostComment.find_by(post_id: post.id).nil?%>
        <p><i>Nessun commento</i></p>
      <%else%>
        <div id="accordion">
          <div class="d-grid">
            <a class="buttonclass" data-bs-toggle="collapse" href="#collapse_<%= post.id %>">
              VISUALIZZA/NASCONDI COMMENTI
            </a>
          </div>
          <div id="collapse_<%= post.id %>" class="collapse" data-bs-parent="#accordion">
            <br>
            <table class="table table-hover table-sm" style="border-collapse: collapse; width: 100%;">
              <thead style="background-color:green; color:white;">
                <tr>
                  <th scope="col" style="border: 1px solid #dddddd;">AUTORE</th>
                  <th scope="col" style="border: 1px solid #dddddd;">COMMENTO</th>
                </tr>
              </thead>
              <tbody>
                <%PostComment.where(post_id: post.id).each do |comment|%>
                  <tr>
                    <td style="border: 1px solid #dddddd;"><%= comment.author %></td>
                    <td style="border: 1px solid #dddddd;"><%= comment.description %></td> 
                  </tr>
                <%end%>
              </tbody>
            </table>
          </div>
        </div>
      <%end%>
    </div>
  </div>

  <div class="card-footer">

    <%= link_to "Visualizza", post,  { class: 'buttonclass'}%>
    
    <%if current_user%>
      <%= link_to 'Commenta', new_post_comment_path(
        user_id: current_user.id,
        post_id: post.id
      ), { class: 'buttonclass'} %>  
    <%end%>
    
    <button type="button" id="newPostCommentBtn" class="buttonclass" data-bs-toggle="modal" data-bs-target="#newPostCommentModal">
      Commenta test
    </button>
    
    <%if current_user && (current_user.id == params[:user_id].to_i || current_user.id == params[:id].to_i )%>
      <%= link_to 'Modifica', edit_post_path(post) ,{ class: 'buttonclass'}%>
      <button type="button" id="editPostBtn" class="buttonclass" data-bs-toggle="modal" data-bs-target="#editPostModal">
        Modifica test
      </button>
      <%= link_to 'Elimina', post, method: :delete, data: { confirm: 'Sei sicuro?' },   class: 'buttonclass' %>
    <%else%>
    <%end%>
    
    <%if current_user %>
    
      <%if SavedPost.where(user_id: current_user.id,type: "StarredPost",post_id:post.id).empty?%>
        <%= button_to 'Salva', starred_posts_path(
          author: post.author,
          title: post.title,
          summary: post.summary,
          post_file: post.post_file.key,
          post_id: post.id
        ),{id:"starred",class:"buttonclass"} %>
      <%else%>
        <button disabled class = "buttonclassdis">Salva</button>
      <%end%>
      
      <%if current_user && SavedPost.where(user_id: current_user.id,type: "ReportedPost",post_id:post.id).empty?%>
        <%= button_to 'Segnala', reported_posts_path(
          author: post.author,
          title: post.title,
          summary: post.summary,
          post_file: post.post_file.key,
          post_id: post.id
        ),{id:"reported",class:"buttonclass"} %>
      <%else%>
        <button disabled class = "buttonclassdis">Segnala</button>
      <%end%>
    <%end%>
  </div>
</div>
