<!DOCTYPE html>
<html>
  <head>
    <title>ContentAggregator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "main" %>
    <%= stylesheet_link_tag "application.js", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/assets/application.js", "data-turbo-track": "reload", defer: true %>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </head>

    <body>
    <!-- > Inizio sezione header -->
    <header class=" header-active" data-aos="fade-down">

  
    
        
          
          <%= image_tag "logo.png" , :align=> "middle", class: "logoHeader",style: 'max-width:350px;height: auto'%>
          
      
      
      
  
        

    </header>
    <br>
    <br>
    <br>
    
    <div style="text-align:center" data-aos="fade-down"><h1 style="font-size:80px">Modifica Post</h1></div>
    <p style="color: red"><%= alert %></p>
    <br>
  <!-- > Inizio sezione centrale -->
  <div class = "container text-center" >
   <div class="timeline" data-aos="fade-down">
   
  <%= render "form", post: @post %>
    </div>
  </div>
   

    </div>
    <script>
     AOS.init();
    </script>
  </body>
</html>

<footer data-aos="fade-down">
  <div class="footer-content" >
    <h3>© 2022 ContentAggregator ®</h3>
      <p>
        Tutti i diritti riservati.<br>
        Immagini da: Storyset<br>
        <a href="https://github.com/StefanoM99/ContentAggregator">github.com/StefanoM99/ContentAggregator</a>
      </p>
  </div>
</footer>