<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  
  <%= link_to "Back to posts", posts_path %>
<%if current_user.id == @post.user_id%>
  <%= button_to "Destroy this post", @post, method: :delete %>
   <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%end%>
</div>
