<div id="<%= dom_id playlist %>">
  <img src="<%= playlist.spotify_img %>" class="img-fluid card-img-top">
  
  <div class="card-body">
    <h3 class="card-title">
      <strong><%= playlist.name %></strong>
    </h3>
    <br>
    <h4 class="card-text" style="color:#8A8A8A">
      <%= playlist.description %>
    </h4>
    <br>
    <small>
      <a href="<%= playlist.spotify_url %>"><%= playlist.spotify_url %></a>
    </small>
    <br><br>
    <div class="container mt-3">
      <div id="accordion">
        <div class="card">
          <div class="card-header">
            <a class="btn" data-bs-toggle="collapse" href="#collapse_<%= playlist.id %>">
              Show Tracks
            </a>
          </div>
          <div id="collapse_<%= playlist.id %>" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
              <table style="border-collapse: collapse; width: 100%;">
                <tr>
                  <th style="border: 1px solid #dddddd;">Track</th>
                  <th style="border: 1px solid #dddddd;">Artists</th>
                </tr>
                <% for i in 0..playlist.tracks.size()-1 %>
                  <tr>
                    <small>
                      <td style="border: 1px solid #dddddd;"><%= playlist.tracks[i][0] %></td>
                      <td style="border: 1px solid #dddddd;">
                        <% for j in 0..playlist.tracks[i][1].size-2 %>
                          <%= playlist.tracks[i][1][j] %>,
                        <% end %>
                        <%= playlist.tracks[i][1][-1] %>
                      </td>
                    </small>
                  </tr>
                <% end %>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <%= link_to 'Show this playlist', playlist, {id: "show", class: 'btn btn-primary'} %> 
            
      <!--<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content"></div>
        </div>
      </div>-->

    <%if current_user%>
      <%if  SavedPlaylist.where(user_id: current_user.id,type: "StarredPlaylist",playlist_id:playlist.id).empty?%>
        <%= button_to 'Star', starred_playlists_path(
          country: playlist.country,
          name: playlist.name,
          description: playlist.description,
          spotify_url: playlist.spotify_url,
          spotify_img: playlist.spotify_img,
          playlist_id: playlist.id,
          user_id: current_user.id
        ), {id: "starred", class: 'btn btn-primary'} %>
      <% else %>
        Starred
      <% end %>

      <% if current_user && SavedPlaylist.where(user_id: current_user.id,type: "ReportedPlaylist",playlist_id:playlist.id).empty? %>
        <%= button_to 'Report', reported_playlists_path(
          country: playlist.country,
          name: playlist.name,
          description: playlist.description,
          spotify_url: playlist.spotify_url,
          spotify_img: playlist.spotify_img,
          playlist_id: playlist.id,
          user_id: current_user.id
        ), {id: "reported", class: 'btn btn-primary'} %>
      <% else %>
        Reported
      <% end %>
    <% end %>
  </div>
</div>
