<div id="<%= dom_id playlist %>">
  <img src="<%= playlist.spotify_img %>" class="img-fluid card-img-top">
 
  <div class="card-body">
    <h3 class="card-title">
      <strong><%= playlist.name %></strong>
    </h3>
    <br>
    <h4 class="card-text" style="color:#8A8A8A">
      <%= playlist.description %>
    </h4>
    <br>
    <small>
      <a href="<%= playlist.spotify_url %>"><%= playlist.spotify_url %></a>
    </small>

    <br><br>
    
    <div class="container mt-3">
      <div id="accordion">
        <div class="d-grid">
          <a class="buttonclass" data-bs-toggle="collapse" href="#trackcollapse_<%= playlist.id %>">
            VISUALIZZA/NASCONDI TRACKLIST
          </a>
        </div>
        <div id="trackcollapse_<%= playlist.id %>" class="collapse" data-bs-parent="#accordion">
          <br>
          <table class="table table-hover table-sm" style="border-collapse: collapse; width: 100%;">
            <thead style="background-color:green; color:white;">
              <tr>
                <th scope="col" style="border: 1px solid #dddddd;"> BRANO</th>
                <th scope="col" style="border: 1px solid #dddddd;">ARTISTI</th>
              </tr>
            </thead>
            <% for i in 0..playlist.tracks.size()-1 %>
              <tbody>
                <tr>
                  <small>
                    <td style="border: 1px solid #dddddd;"><%= playlist.tracks[i][0] %></td>
                    <td style="border: 1px solid #dddddd;">
                      <% for j in 0..playlist.tracks[i][1].size-2 %>
                        <%= playlist.tracks[i][1][j] %>,
                      <% end %>
                      <%= playlist.tracks[i][1][-1] %>
                    </td>
                  </small>
                </tr>
              </tbody>
            <% end %>
          </table>
        </div>
      </div>
    </div>

    <div class="container mt-3">
      <%if PlaylistComment.find_by(playlist_id: playlist.id).nil?%>
        <p><i>Nessun commento</i></p>
      <%else%>
        <div id="accordion">
          <div class="d-grid">
            <a class="buttonclass" data-bs-toggle="collapse" href="#collapse_<%= playlist.id %>">
              VISUALIZZA/NASCONDI COMMENTI
            </a>
          </div>
          <div id="collapse_<%= playlist.id %>" class="collapse" data-bs-parent="#accordion">
            <br>
            <table class="table table-hover table-sm" style="border-collapse: collapse; width: 100%;">
              <thead style="background-color:green; color:white;">
                <tr>
                  <th scope="col" style="border: 1px solid #dddddd;">AUTORE</th>
                  <th scope="col" style="border: 1px solid #dddddd;">COMMENTO</th>
                </tr>
              </thead>
              <tbody>
                <%PlaylistComment.where(playlist_id: playlist.id).each do |comment|%>
                  <tr>
                    <td style="border: 1px solid #dddddd;"><%= comment.author %></td>
                    <td style="border: 1px solid #dddddd;"><%= comment.description %></td> 
                  </tr>
                <%end%>
              </tbody>
            </table>
          </div>
        </div>
      <%end%>
    </div>
  </div>

  <div class="card-footer">

    <%= link_to 'Visualizza', playlist, { class: 'buttonclass'} %> 
    
    <%if current_user%>
      <%= link_to 'Commenta', new_playlist_comment_path(
        user_id: current_user.id,
        playlist_id: playlist.id
      ), { class: 'buttonclass'} %> 
    <%end%>
    
    <%if current_user%>
      <%if  current_user && SavedPlaylist.where(user_id: current_user.id,type: "StarredPlaylist",playlist_id:playlist.id).empty?%>
        <%= button_to 'Salva', starred_playlists_path(
          country: playlist.country,
          name: playlist.name,
          description: playlist.description,
          spotify_url: playlist.spotify_url,
          spotify_img: playlist.spotify_img,
          playlist_id: playlist.id,
          user_id: current_user.id,
          
        ) ,{id:"starred", class: 'buttonclass'}%>
      <%else%>
      <button disabled class = "buttonclassdis">Salva</button>
      <%end%>
    <%end%>
    
    <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
      </div>
    </div>

    <%if current_user%>
      <%if current_user && SavedPlaylist.where(user_id: current_user.id,type: "ReportedPlaylist",playlist_id:playlist.id).empty?%>
      <%= button_to 'Segnala', reported_playlists_path(
        country: playlist.country,
        name: playlist.name,
        description: playlist.description,
        spotify_url: playlist.spotify_url,
        spotify_img: playlist.spotify_img,
        playlist_id: playlist.id,
        user_id: current_user.id
      ),{id:"reported",class: 'buttonclass'} %>
      <%else%>
      <button disabled class = "buttonclassdis">Segnala</button>
      <%end%>
    <%end%>
  </div>
</div>
