<div id="<%= dom_id playlist %>">
  <img src="<%= playlist.spotify_img %>" class="img-fluid card-img-top">
  
  <div class="card-body">
    <h3 class="card-title">
      <strong><%= playlist.name %></strong>
    </h3>
    <br>
    <h4 class="card-text" style="color:#8A8A8A">
      <%= playlist.description %>
    </h4>
    <br>
    <small>
      <a href="<%= playlist.spotify_url %>"><%= playlist.spotify_url %></a>
    </small>
    <br>
    <small>
      <%= playlist.tracks %>
    </small>
  </div>

  <div class="card-footer">
    <%= link_to 'Show', playlist, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary btn-lg'} %> 
            
      <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content"></div>
        </div>
      </div>

      <%= button_to 'Star', current_user_starred_playlists(
        country: playlist.country,
        name: playlist.name,
        description: playlist.description,
        spotify_url: playlist.spotify_url,
        spotify_img: playlist.spotify_img
      ) %>

      <%= button_to 'Report', current_user_reported_playlists(
        country: playlist.country,
        name: playlist.name,
        description: playlist.description,
        spotify_url: playlist.spotify_url,
        spotify_img: playlist.spotify_img
      ) %>
  </div>
</div>
