<div id="<%= dom_id playlist %>">

  <div class="row" id="tracks">
    <% for i in 0..playlist.tracks.size()-1 %>
      <ul class="col-12 col-lg-4 col-sm-6">
        <li class="card" data-aos="flip-down">
          <img src="<%= playlist.tracks[i][2] %>" class="img-fluid card-img-top">

          <div class="card-body">
            <h3 class="card-title">
              <strong><%= playlist.tracks[i][0] %></strong>
            </h3>
            <br>
            <h4 class="card-text" style="color:#8A8A8A">
              <% for j in 0..playlist.tracks[i][1].size-2 %>
                <%= playlist.tracks[i][1][j] %>,
            <% end %>
            <%= playlist.tracks[i][1][-1] %>
            </h4>
            <br>
            <small>
              <a href="<%= playlist.tracks[i][3] %>"><%= playlist.tracks[i][3] %></a>
            </small>
            <br><br>
            Preview track:
            <audio controls>
              <source src="<%= playlist.tracks[i][4] %>">
            </audio>
          </div>
        </li>
      </ul>
    <% end %>
  </div>
</div>