<p style="color: green"><%= notice %></p>

<div class="container" id="playlists">
  
  <%= render :partial => 'shared/header' %>
  
  <br><br><br><br><br>
  <div data-aos="fade-right" style="text-align:center">
    <h1 style='font-size:80px'><b>Playlist</b></h1>
    <br>
    <div class="dropdown">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
        Filtro Contenuti
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to "Tutti i Contenuti", feed_path, class: 'dropdown-item' %></li>
        <li><%= link_to "Articoli", articles_path, class: 'dropdown-item' %></li>
        <li><%= link_to "Playlist", playlists_path, class: 'dropdown-item' %></li>
        <li><%= link_to "Post", posts_path, class: 'dropdown-item' %></li>
        <li><%= link_to "Meteo", forecasts_path, class: 'dropdown-item' %></li>
      </ul>
    </div>
    <br>
    <%= render "filter", playlist: @playlist %>
    <br><br>
    <div class="row" id="playlists">
      <% @playlists.each do |playlist| %>
        <ul class="col-12 col-lg-4 col-sm-6">
          <li class="card" data-aos="flip-down">
            <%= render playlist %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="newPlaylistCommentModal" tabindex="-1" aria-labelledby="newPlaylistCommentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="newPlaylistCommentModalLabel">Nuovo Commento Playlist</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="newPlaylistCommentDiv">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function(){

      $("#newPlaylistCommentBtn").on("click", function(){
        $.get(new_playlist_comment_path(
          user_id: current_user.id,
          playlist_id: playlist.id
          ), function(data){
          $("#newPlaylistCommentDiv").replaceWith(data);
        });
      });
    });
  </script>

  <script>
    AOS.init();
  </script>
</div>